body{
    background: #2b82af;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: row;
    margin: 0
}

img{
    width: 100%;
}

p{
    margin: 0;
    text-align: left;
}
.left{
    background-image: linear-gradient(to right, #012f5a, #2b82af);
    flex: 1;
    height: auto;
}
.bodyContainer{
    flex: 4;
    background-color: white;
    margin-bottom: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1;
}
.right{
    background-image: linear-gradient(to left, #012f5a, #2b82af);
    flex: 1;
    height: auto;
}

.titleContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: large;
    background-image: linear-gradient(to right,#111213,#2a2b2c);
    padding: 1%;
    padding-bottom: 3%;
}
.leftTitleContainer{
    padding-left: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}
.title{
    font-size: 2.5vw;
}
.innerTitle{
    color: #595959;
}
.rightTitleContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    width: 60%;
    padding-right: 1.5%;
}
.leftTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 0.9vw;
}
.subTitle{
    letter-spacing: 0.2vw;
}
.rightMenu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.9vw;
    width: 90%;
}
.searchBoxContainer{
    padding-right: 0.9vw;
    display: flex;
    flex-direction: row;
}
.searchBox{
    border-top-right-radius: 1vw;
    border-bottom-right-radius: 1vw;
    border: none;
    font-size: 1vw;
    padding: 0.1vw;
}
.searchIcon{
    color: gray;
    font-size: 0.8em !important;
    background-color: #fff;
    border-top-left-radius: 1vw;
    border-bottom-left-radius: 1vw;
    padding: 1%;
    cursor: pointer;
}
.mainTitleContainer{
    box-shadow: -1.7vw 0px 10vw 1vw rgba(255, 255, 255, 0.7), 1.7vw 0px 10vw 1vw rgba(255, 255, 255, 0.7);
}
.sliderContainer{
    width: 100%;
    max-height: 25vw;
    overflow: hidden;
}
.bottomSliderContainer{
    padding: 3% 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(27 28 29);
}
.desc{
    font-size: 2.2vw;
    flex: 2;
    text-align: left;
    color: #7a7a7a;
}
.bottomIconContainer{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.bottomIcon{
    font-size: 1.5vw !important;
    background-color: #323436;
    border-radius: 5vw;
    padding: 1vw;
    margin-left: 0.2vw;
    width: 1.5vw;
}

.mainContainer{
    color: black;
    display: flex;
    flex-direction: row;
}
.cardContainer{
    flex: 7;
    background-color: white;
    padding: 0.8vw;
}
.cards{
    display: flex;
    flex-direction: column;
}
.card{
    padding: 2.5vw 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
}
.cardImg{
    border: 0.4vw solid #e9e9e9;
    width: 11vw;
    height: 11vw;
}
.cardTitle{
    font-size: 1.6vw;
    color: black;
    text-align: left;
}
.cardTitle a{
    text-decoration: none;
    color: black;
}
.line{
    height: 1px;
    width: 100%;
    background-image: linear-gradient( to right, #fff, #a9a8a8,#fff);
}
.rightMain{    
    flex: 2;
    background-image: linear-gradient(to bottom, #e8e8e8, #fff);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 4%;
}
.infoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 63%;
}
.date{
    color: #2c83b0;
    font-size: 0.7vw;
}
.infoText{
    text-align: left;
    font-size: 1vw;
}
.readMoreContainer{
    background-image: linear-gradient(to top, #4681a0, #5aa7ce);
    padding: 0.5vw;
    width: 8vw;
    cursor: pointer;
    border-radius: 0.3vw;
    font-size: 1vw;
    color: white;
    font-family: -webkit-pictograph;
    text-shadow: 0vw 0vw white, -0.1vw -0.1vw #444;
}
.marginTop{
    margin-top: 1vw;
}
.bigMarginTop{
    margin-top: 2.6vw;
}
.linkText{
    color: #2c83b0;
    cursor: pointer;
    font-size: 1vw;
}

.paginatorContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 5%;
    padding-left: 1.7vw;
}
.paginatorBox{
    padding: 1%;
    background-color: #eee;
    margin-right: 1%;
    font-size: 0.7vw;
    min-width: 1vw;
    color: #777474;
    font-family: system-ui;
}
.paginatorActive{
    background-color: #c1c1c1;
}
.pointerCursor{
    cursor: pointer;
}

.sponsorsContainer{
    width: 100%;
    border-collapse: separate;
    border-spacing: 1.5vw;
}
.sponsorTitle{
    padding: 3% 2% 0;
}
.sponsorCard{
    border: 0.5vw solid #f6f6f6;
}
.sponsorImg{
    width: 75%;
}
.mainFooter{
    background-image: linear-gradient(to top, #050505, #0f0f0f);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}
.footerCell{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 2vw;
}
.highlightedFooter{
    color: #818181;
}
.footerText{
    color: #666565;
    text-align: left;
    font-size: 1.17vw;
}
.footerTitle{
    color: white !important;
}
.footerTable{
    border-collapse: separate;
    border-spacing: 0.5vw;
}
.footerShadow{
    box-shadow: 0.1vw 0.4vw 2vw 0.8vw rgb(0, 0, 0, 0.7);
}

.search-found {
    background-color: yellow;
}
.non-display{
    display: none;
}